@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Website!</h1>
    <p>We hope that you will enjoy your experience on our website.</p>
</div>
